:root {
    --white-color: #ffffff;
    --black-color: #000000;
    --dark-color: #0b1121;
    --blue-color: #0285c7;
    --blue-color2: #39bef7;
    --heading-color: #e1e8f0;
    --p-color: #93a2b8;
    --border-color: #93a2b828;
    --poppins-font: "Poppins", sans-serif;
    --transition: all ease .4s;
}

* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    text-decoration: none;
    list-style-type: none;
}

body {
    font-family: var(--poppins-font);
}

/* Custom class */
.container {
    width: 1300px;
    margin: 0 auto;
}





/* Start Header Element */
header {
    color: var(--p-color);
    background: radial-gradient(circle at center, #1a2a44 0%, #0b0f19 100%);
    min-height: 100vh;
    margin: 0;
}

.navbar {
    background-color: rgba(11, 17, 32, .8);
    backdrop-filter: blur(40px);
    -webkit-backdrop-filter: blur(40px);
    border-bottom: 1px solid var(--border-color);
    padding: 15px 0;
    position: fixed;
    top: 0;
    left: 0;
    width: 100%;
    z-index: 1000;
}

/* Navbar container */
.navbar .container {
    display: flex;
    align-items: center;
    justify-content: space-between;
}

/* Navbar logo */
.nav-logo a {
    display: flex;
    align-items: center;
    gap: 5px;
    font-size: .7rem;
    color: var(--white-color);
    font-weight: 600;
    line-height: .9rem;
}

.nav-logo a img {
    width: 40px;
    border: 1px solid var(--blue-color);
    border-radius: 50px;
    padding: 5px;
}

/* Navbar link */
.nav-links ul {
    display: flex;
    gap: 10px;
}

.nav-links ul li .nav-btn {
    font-size: .8rem;
    font-weight: 500;
    color: var(--white-color);
    background-color: #93a2b800;
    border-radius: 5px;
    padding: 8px 12px;
    transition: var(--transition);
}

.nav-links ul li .nav-btn:hover {
    background-color: #93a2b828;
}

/* Log in button */
.nav-links ul li .login-btn {
    background-color: var(--blue-color);
    color: var(--white-color);
    padding: 6px 12px;
    border-radius: 50px;
    font-size: .8rem;
    font-weight: 600;
    transition: var(--transition);
}

.nav-links ul li .login-btn:hover {
    background-color: var(--blue-color2);
}

/* Header content */
.header-content {
    text-align: center;
    padding-top: 350px;
}

.header-content h1 {
    font-size: 72px;
    color: var(--heading-color);
    font-weight: 600;
}

.header-content p {
    font-size: 17px;
    margin: 30px auto 60px;
    font-weight: 500;
    width: 50%;
}

.header-content .exp-btn {
    background-color: var(--blue-color);
    color: var(--white-color);
    padding: 18px 80px;
    border-radius: 10px;
    font-size: 1.2rem;
    font-weight: 500;
    transition: var(--transition);
}

.header-content .exp-btn:hover {
    background-color: var(--blue-color2);
}

/* End Header Element */





/* Start Main Element */
section h1 {
    font-size: 2.3rem;
    font-weight: 600;
    color: var(--heading-color);
}

section p {
    font-size: 18px;
    color: var(--p-color);
}

section .colorful {
    color: var(--blue-color2);
}

/* Tutorials section */
.tutorials-section {
    background-color: #0f1729;
    border-top: 1px solid var(--border-color);
}

.tutorials-container {
    display: flex;
    align-items: center;
    padding: 80px 0;
}

/* Tutorials content */
.tutorials-content {
    width: 37%;
}

.tutorials-content p {
    width: 86%;
    margin-top: 15px;
}

.tutorials-content img {
    width: 120px;
}

/* Tutorials box's */
.tutorials-box {
    width: 63%;
    display: grid;
    grid-template-columns: 1fr 1fr 1fr;
    gap: 20px;
}

.tutorials-box .box {
    background-color: var(--dark-color);
    border-radius: 10px;
    border: 1px solid var(--border-color);
    text-align: center;
    padding: 30px;
    transition: var(--transition);
}

.tutorials-box .box:hover {
    transform: scale(1.05);
}

/* Box's images */
.tutorials-box .box img {
    width: 50px;
    padding: 10px;
    border-radius: 50px;
}

.tutorials-box .box .js-img {
    background-color: #facc14;
}

.tutorials-box .box .dom-img {
    background-color: #fa7516;
}

.tutorials-box .box .react-img {
    background-color: #39bef7;
}

.tutorials-box .box .node-img {
    background-color: #324154;
}

.tutorials-box .box .tailwind-img {
    background-color: #f7fafc;
}

.tutorials-box .box h4 {
    color: var(--heading-color);
    font-weight: 600;
    font-size: .95rem;
}

.tutorials-box .box p {
    margin: 10px 0 20px;
    font-size: .8rem;
}

.tutorials-box .box a {
    color: var(--blue-color2);
    border: 1px solid var(--blue-color2);
    border-radius: 50px;
    padding: 5px 10px;
    font-size: .8rem;
    font-weight: 600;
    transition: var(--transition);
}

.tutorials-box .box a:hover {
    background-color: var(--blue-color2);
    color: var(--white-color);
}

/* Community section */
.community-section {
    background: linear-gradient(to left, #0b1121, #0f1729);
}

.community-container {
    padding: 80px 0;
}

/* Heading part of community section */
.community-container .heading {
    text-align: center;
}

.community-container .heading img {
    width: 80px;
}

.community-container .heading p {
    font-weight: 500;
}

/* End Main Element */