:root {
    --white-color: #ffffff;
    --black-color: #000000;
    --special-color: #db9a65;
    --h1-color: #001d38;
    --p-color: #596672;
    --bg-color-1: #1a0d01;
    --poppins: "Poppins", sans-serif;
    --philosopher: "Philosopher", sans-serif;
}

* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    text-decoration: none;
    list-style-type: none;
}

body {
    font-family: var(--poppins);
}

img {
    width: 100%;
    height: 100%;
}

/* Custom classes */
.container {
    width: 1100px;
    margin: 0 auto;
}

.padding-y {
    padding: 160px 0;
}

.center {
    text-align: center;
}

/* Start Navbar Section */
.navbar {
    display: flex;
    align-items: center;
    justify-content: space-between;
    background-color: var(--bg-color-1);
    width: 100%;
    height: 96px;
    position: fixed;
    top: 0;
    z-index: 1000;
}

/* Navbar middle link section */
.nav-links .nl-ul {
    display: flex;
    gap: 40px;
}

.nav-links .nl-ul a {
    color: var(--white-color);
    font-size: .96rem;
    font-weight: 500;
}

/* Navbar dropdown menu */
.dropdown {
    position: relative;
    z-index: 1000;
}

.dropdown .submenu {
    position: absolute;
    top: 10px;
    left: 0;
    opacity: 0;
    visibility: hidden;
    transform: translateY(50px);
    background-color: var(--white-color);
    width: 200px;
    padding: 15px 0 15px 40px;
    transition: all .3s ease;
}

.dropdown:hover .submenu {
    opacity: 1;
    visibility: visible;
    transform: translateY(20px);
}

.dropdown .submenu li a {
    color: var(--black-color);
    display: inline-block;
}

.dropdown .submenu li .top-l {
    margin-bottom: 15px;
}

/* Navbar right section */
.nav-r-btn {
    display: flex;
    flex-direction: column;
}

.nav-r-btn a {
    margin-right: 50px;
    color: var(--white-color);
    font-weight: 600;
}

.nav-r-btn .underline {
    width: 105px;
    height: 3px;
    background-color: var(--white-color);
}

/* End Navbar Section */

/* Start Main Section */
.section-heading {
    font-size: 3.1rem;
    font-weight: 500;
    font-family: var(--philosopher);
    color: var(--h1-color);
}

.section-p {
    color: var(--p-color);
}

/* Heading slider section */
.slider-container {
    width: 100%;
    height: 100vh;
    position: relative;
}

/* Slider images container */
.slider-container .slider {
    display: flex;
    width: 100%;
    height: 100%;
    overflow-x: auto;
    scroll-snap-type: x mandatory;
    scroll-behavior: smooth;
    color: var(--white-color);
}

.slider-container .slider h1 {
    font-family: var(--philosopher);
    text-transform: capitalize;
    font-size: 4rem;
    width: 50%;
}

.slider-container .slider .v-btn {
    background: var(--special-color);
    color: var(--white-color);
    display: inline-block;
    padding: 19px 50px;
    font-size: 14px;
    font-weight: 500;
    text-transform: capitalize;
    transition: all .3s ease;
    letter-spacing: 2px;
    margin-top: 20px;
}

.slider-container .slider .v-btn:hover {
    background-color: #002246;
}

.slider-container .slider::-webkit-scrollbar {
    display: none;
}

.slider-container .slider .slide {
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    min-width: 100%;
    height: 100%;
    scroll-snap-align: start;
    background-size: cover;
    background-position: center;
    text-align: center;
}

/* Slider first image */
.slider-container .slider .s1 {
    background-image: linear-gradient(rgba(0, 0, 0, 0.6), rgba(0, 0, 0, 0.6)), url('assets/images/banner.png');
    background-color: red;
}

/* Slider second image */
.slider-container .slider .s2 {
    background-image: linear-gradient(rgba(0, 0, 0, 0.6), rgba(0, 0, 0, 0.6)), url('assets/images/banner2.png');
    background-color: blue;
}

/* Slider left and right button container */
.slider-container .buttons {
    position: absolute;
    top: 50%;
    width: 100%;
    display: flex;
    justify-content: space-between;
    z-index: 10;
    transform: translateY(-50%);
}

.slider-container .buttons .btn {
    background: #3e4b59;
    color: white;
    padding: 50px 15px;
    text-decoration: none;
    transition: all .3s ease;
}

.slider-container .buttons .btn:hover {
    background-color: var(--white-color);
    color: var(--black-color);
}

/* Natus section */
.natus-section {
    background-color: #fffbf5;
    position: relative;
}

/* To add background images */
.natus-section .top-left-bg {
    position: absolute;
    top: 80px;
    left: 70px;
}

.natus-section .bottom-left-bg {
    position: absolute;
    bottom: -120px;
    left: 80px;
}

.natus-section .bottom-right-bg {
    position: absolute;
    bottom: 100px;
    right: 60px;
}

/* Natus container */
.natus-container {
    display: flex;
    gap: 70px;
    padding-bottom: 280px;
}

/* Natus left container */
.natus-left .long-dash {
    width: 80px;
    height: 3px;
    background-color: var(--special-color);
    margin: 18px 0 50px;
}

/* Natus right container */
.natus-right {
    position: relative;
}

.natus-right img {
    border-radius: 20px;
}

.absolute-image {
    position: absolute;
    bottom: -100px;
    left: -50px;
}

.absolute-image img {
    border: 10px solid var(--white-color);
}

/* Mini container */
.mini-container {
    display: flex;
    gap: 50px;
    margin-top: 60px;
    color: var(--special-color);
}

.mini-container .mini-content {
    display: flex;
    align-items: center;
    gap: 10px;
}

.mini-container .mini-content i {
    font-size: 50px;
}

/* Delicious food section */
/* Food list container */
.food-list {
    border-top: 1px solid #0000003a;
    margin-top: 30px;
    padding-top: 50px;
    display: grid;
    grid-template-columns: 1fr 1fr;
    gap: 50px;
}

/* Food items */
.food-items {
    display: flex;
    gap: 30px;
    align-items: center;
    cursor: pointer;
    border-right: 0px solid var(--special-color);
    transition: all ease .3s;
}

.food-items:hover {
    border-right: 5px solid var(--special-color);
}

.food-items h4 {
    font-size: 1.5rem;
    font-weight: 400;
    color: var(--h1-color);
}

.food-items p {
    color: var(--p-color);
    margin: 10px 0;
}

.food-items span {
    color: var(--special-color);
    font-size: 1.6rem;
}

/* Customer section */
.customer-section {
    background: linear-gradient(rgba(233, 233, 233, 0.6)), url('assets/background-images/bg.png') no-repeat scroll center / cover;
}

/* Customer heading part */
.customer-heading-p h1 {
    margin: 25px 0 70px;
    font-family: var(--philosopher);
    font-size: 3.2rem;
}

.customer-heading-p span {
    color: var(--special-color);
}

/* Author container */
.author {
    display: flex;
    gap: 30px;
}

.author-profile {
    display: flex;
    flex-direction: column;
    gap: 20px;
}

.author-profile .description {
    border: 3px solid var(--special-color);
    border-radius: 12px;
    background-color: var(--white-color);
    color: var(--p-color);
    font-size: 1.2rem;
    padding: 50px 40px;
}

.mini-profile {
    display: flex;
    gap: 10px;
    align-items: center;
}

.mini-profile h6 {
    font-size: 1rem;
    font-weight: 500;
}

.mini-profile i {
    color: var(--special-color);
    font-size: .9rem;
}

/* Reservation section */
.font-w {
    font-weight: 600;
}

.book-table {
    display: flex;
    margin-top: 80px;
}

.book-table .img {
    width: 100%;
    height: 50vh;
}

.book-table .forms {
    background-color: var(--special-color);
    width: 100%;
    height: 50vh;
    padding: 35px 40px;
}

/* Forms container */
.forms h2 {
    font-size: 2.3rem;
    font-family: var(--philosopher);
    color: var(--white-color);
}

/* Booking form container */
.form-inputs {
    margin-top: 30px;
}

.form-inputs .four-inputs {
    display: grid;
    grid-template-columns: 1fr 1fr;
    gap: 15px 30px;
}

.form-inputs .four-inputs input, select {
    outline: none;
    background-color: var(--special-color);
    color: var(--white-color);
    border: 1px solid #ffffff52;
    padding: 14px;
    font-size: .9rem;
}

.form-inputs .four-inputs input::placeholder {
    color: var(--white-color);
}

.form-inputs .one-input {
    margin-top: 15px;
}

.form-inputs .one-input input, select {
    width: 100%;
}

.form-inputs .btn-container {
    background-color: red;
}

.form-inputs .book-btn {
    background-color: #ba8050;
    color: var(--white-color);
    display: inline-block;
    text-align: center;
    width: 100%;
    margin-top: 15px;
    padding: 10px 0;
    transition: all ease .3s;
}

.form-inputs .book-btn:hover {
    background-color: #c58753a8;
}

/* End Main Section */