:root {
    --primary-color: #f2f2f2;
    --secondary-color: #b5b5b5;
    --special-color: #e6473c;
    --special-color2: #383838;
    --background-color: #2b2b2b;
    --primary-font: "Poppins", sans-serif;
}

* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    list-style-type: none;
    text-decoration: none;
}

body {
    font-family: var(--primary-font);
    color: var(--secondary-color);
}

img {
    width: 100%;
}

/* Custom class */
.container {
    width: 1340px;
    margin: 0 auto;
}

/* Start header section */
.header,
main {
    background-color: var(--background-color);
}

.navbar {
    position: fixed;
    top: 15px;
    width: 1350px;
    left: 50%;
    transform: translateX(-50%);
    padding: 15px;
    background-color: #333333;
    backdrop-filter: blur(10px);
    -webkit-backdrop-filter: blur(10px);
    z-index: 1000;
    border-radius: 20px;
    display: flex;
    justify-content: space-between;
    align-items: center;
}

/* Navbar logo */
.navbar .logo a {
    font-size: 1.2rem;
    display: flex;
    align-items: center;
    gap: 10px;
}

.navbar .logo a i {
    color: var(--secondary-color);
    background-color: var(--special-color);
    width: 40px;
    height: 40px;
    border-radius: 100%;
    display: flex;
    justify-content: center;
    align-items: center;
}

.navbar .logo a span {
    color: var(--primary-color);
    font-weight: 600;
}

/* Navbar middle part */
.nav-links ul {
    display: flex;
    gap: 40px;
}

.nav-links ul li .n-link {
    color: var(--secondary-color);
    font-size: .82rem;
    font-weight: 600;
    transition: all ease .4s;
}

.nav-links ul li .n-link:hover {
    color: var(--primary-color);
}

/* Navbar right part */
.link-bar {
    display: flex;
    gap: 20px;
    align-items: center;
}

.link-bar a {
    display: flex;
    align-items: center;
    color: var(--secondary-color);
    transition: all ease .4s;
}

.link-bar a span {
    font-size: 1.4rem;
}

.link-bar .search-icon:hover {
    color: var(--primary-color);
}

.link-bar .dark-mode {
    background-color: #1f1f1f;
    padding: 4px;
    border-radius: 30px;
    display: flex;
}

.link-bar .dark-mode span {
    font-size: 1rem;
}

.link-bar .dark-mode .unactive {
    background-color: none;
    padding: 5px;
    border-radius: 50px;
}

.link-bar .dark-mode .active {
    background-color: var(--special-color);
    padding: 5px;
    border-radius: 50px;
}

.link-bar .buy-n {
    background-color: var(--special-color2);
    padding: 10px 20px;
    border-radius: 50px;
    font-size: .82rem;
    color: var(--primary-color);
    font-weight: 600;
    transition: all ease .4s;
}

.link-bar .buy-n:hover {
    background-color: var(--special-color);
}

/* Header content after navbar */
.header-content {
    padding-top: 150px;
    text-align: center;
    width: 900px;
    margin: 0 auto;
}

.header-content h1 {
    font-size: 3rem;
    font-weight: 600;
    color: var(--primary-color);
    line-height: 4rem;
    margin-bottom: 30px;
}

.header-content h1 span {
    color: var(--special-color);
}

/* End header section */

/* Start main section */
main {
    padding: 80px 0;
}

.horizontal-bar {
    width: 100%;
    height: 1px;
    background-color: #f2f2f211;
}

/* Topic bar */
.topics-link {
    margin: 50px 0;
    display: flex;
    gap: 15px;
    justify-content: center;
}

.topics-link div a {
    display: flex;
    align-items: center;
    gap: 5px;
    color: var(--secondary-color);
    background-color: var(--special-color2);
    padding: 6px 12px;
    border-radius: 50px;
    font-size: .75rem;
    font-weight: 500;
}

/* Icons color */
.topics-link div a .ai {
    color: #c964d9;
}

.topics-link div a .crypto {
    color: #52dea4;
}

.topics-link div a .digital {
    color: #8564e8;
}

.topics-link div a .news {
    color: #5d6af5;
}

.topics-link div a .rocket {
    color: #e66acf;
}

.topics-link div a .tech {
    color: #56afe3;
}

.topics-link div a .trends {
    color: #f2862e;
}

/* Blog container */
.blog-container {
    display: flex;
    gap: 6%;
    margin-top: 80px;
}

/* Card container */
.blog-container .card-container {
    width: 66%;
    display: grid;
    grid-template-columns: 1fr 1fr;
    gap: 30px;
}

.card {
    width: 99%;
}

/* Card image */
.card .card-img {
    width: 420px;
    height: 250px;
    overflow: hidden;
    border-radius: 20px;
    position: relative;
}

.card .card-img a img {
    width: 100%;
    height: 100%;
    object-fit: cover;
    transition: transform 0.5s ease;
}

.card .card-img:hover img {
    transform: scale(1.1);
}

/* Card image top left related buttons */
.card .card-img .related {
    position: absolute;
    top: 20px;
    left: 20px;
    z-index: 1000;
}

.card .card-img .related a {
    color: var(--background-color);
    background-color: #ffffff97;
    font-size: .75rem;
    font-weight: 500;
    padding: 3px 6px;
    border-radius: 20px;
    transition: all ease .4s;
}

.card .card-img .related a:hover {
    background-color: #00000092;
    color: var(--primary-color);
}

/* Card image bottom right timer button */
.card .card-img .time {
    position: absolute;
    bottom: 15px;
    right: 15px;
}

.card .card-img .time span {
    font-size: .7rem;
    color: var(--primary-color);
    background-color: #2b2b2bb4;
    font-weight: 600;
    padding: 3px 6px 4px 3px;
    border-radius: 20px;
}

.card h2 {
    margin: 20px 0;
}

.card h2 a {
    color: var(--primary-color);
}

.card span {
    font-size: .9rem;
}

.card p {
    margin: 15px 0 50px;
}

/* Aside bar */
.blog-container .aside-bar {
    width: 28%;
}

.profile {
    background-color: var(--special-color2);
    border-radius: 20px;
    padding: 30px;
}

.profile span {
    font-size: .75rem;
    text-transform: uppercase;
    font-weight: 500;
}

.profile .img-profile {
    display: flex;
    align-items: center;
    gap: 15px;
    margin: 15px 0 10px;
}

.profile .img-profile .img img {
    width: 50px;
    border-radius: 50px;
}

.profile .img-profile .names h4 {
    font-size: 1.05rem;
    font-weight: 500;
    color: var(--primary-color);
    line-height: .8rem;
}

.profile .img-profile .names h5 {
    font-size: .75rem;
    text-transform: uppercase;
    font-weight: 500;
}

.profile p {
    font-size: .8rem;
}

.profile .p-icons {
    display: flex;
    gap: 10px;
    margin-top: 15px;
}

.profile .p-icons a i {
    color: var(--secondary-color);
    transition: all ease .4s;
}

.profile .p-icons a i:hover {
    color: var(--primary-color);
}

/* Featured post in aside bar*/
.featured-post {
    margin: 20px 0;
}

.featured-post span {
    font-size: .78rem;
    color: var(--primary-color);
    font-weight: 500;
}

.featured-post .f-img {
    position: relative;
}

.featured-post .f-img img {
    border-radius: 20px;
    margin-top: 20px;
    height: 400px;
    object-fit: cover;
}

.featured-post .f-img .f-content {
    width: 80%;
    position: absolute;
    bottom: 50px;
    left: 50%;
    transform: translateX(-50%);
    color: var(--primary-color);
}

.featured-post .f-img .f-content h2 {
    font-size: 1.3rem;
    line-height: 1.6rem;
    margin-bottom: 10px;
    font-weight: 600;
}

.featured-post .f-img .f-content h2 a {
    font-size: 1.3rem;
    color: var(--primary-color);
}

.featured-post .f-img .f-content span a {
    color: var(--primary-color);
    transition: all ease .4s;
}

.featured-post .f-img .f-content span a:hover {
    color: var(--special-color);
}

/* End main section */