:root {
    --primary-color: #f2f2f2;
    --secondary-color: #b5b5b5;
    --special-color: #e6473c;
    --special-color2: #383838;
    --background-color: #2b2b2b;
    --primary-font: "Poppins", sans-serif;
}

* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    list-style-type: none;
    text-decoration: none;
}

body {
    font-family: var(--primary-font);
    color: var(--secondary-color);
}

img {
    width: 100%;
}

/* Custom class */
.container {
    width: 1340px;
    margin: 0 auto;
}

/* Start header section */
.header,
main {
    background-color: var(--background-color);
}

.navbar {
    position: fixed;
    top: 15px;
    width: 1350px;
    left: 50%;
    transform: translateX(-50%);
    padding: 15px;
    background-color: #333333b6;
    backdrop-filter: blur(15px);
    -webkit-backdrop-filter: blur(15px);
    z-index: 1000;
    border-radius: 20px;
    display: flex;
    justify-content: space-between;
    align-items: center;
}

/* Navbar logo */
.logo a {
    font-size: 1.2rem;
    display: flex;
    align-items: center;
    gap: 10px;
}

.logo a i {
    color: var(--secondary-color);
    background-color: var(--special-color);
    width: 40px;
    height: 40px;
    border-radius: 100%;
    display: flex;
    justify-content: center;
    align-items: center;
}

.logo a span {
    color: var(--primary-color);
    font-weight: 600;
}

/* Navbar middle part */
.nav-links ul {
    display: flex;
    gap: 40px;
}

.nav-links ul li .n-link {
    color: var(--secondary-color);
    font-size: .82rem;
    font-weight: 600;
    transition: all ease .4s;
}

.nav-links ul li .n-link:hover {
    color: var(--primary-color);
}

/* Navbar right part */
.link-bar {
    display: flex;
    gap: 20px;
    align-items: center;
}

.link-bar a {
    display: flex;
    align-items: center;
    color: var(--secondary-color);
    transition: all ease .4s;
}

.link-bar a span {
    font-size: 1.4rem;
}

.link-bar .search-icon:hover {
    color: var(--primary-color);
}

.link-bar .dark-mode {
    background-color: #1f1f1f;
    padding: 4px;
    border-radius: 30px;
    display: flex;
}

.link-bar .dark-mode span {
    font-size: 1rem;
}

.link-bar .dark-mode .unactive {
    background-color: none;
    padding: 5px;
    border-radius: 50px;
}

.link-bar .dark-mode .active {
    background-color: var(--special-color);
    padding: 5px;
    border-radius: 50px;
}

.link-bar .buy-n {
    background-color: var(--special-color2);
    padding: 10px 20px;
    border-radius: 50px;
    font-size: .82rem;
    color: var(--primary-color);
    font-weight: 600;
    transition: all ease .4s;
}

.link-bar .buy-n:hover {
    background-color: var(--special-color);
}

/* Header content after navbar */
.header-content {
    padding-top: 150px;
    text-align: center;
    width: 900px;
    margin: 0 auto;
}

.header-content h1 {
    font-size: 3rem;
    font-weight: 600;
    color: var(--primary-color);
    line-height: 4rem;
    margin-bottom: 30px;
}

.header-content h1 span {
    color: var(--special-color);
}

/* End header section */





/* Start main section */
main {
    padding: 80px 0;
}

.horizontal-bar {
    width: 100%;
    height: 1px;
    background-color: #f2f2f211;
}

/* Topic bar */
.topics-link {
    margin: 50px 0;
    display: flex;
    gap: 15px;
    justify-content: center;
}

.topics-link div a {
    display: flex;
    align-items: center;
    gap: 5px;
    color: var(--secondary-color);
    background-color: var(--special-color2);
    padding: 6px 12px;
    border-radius: 50px;
    font-size: .75rem;
    font-weight: 500;
}

/* Icons color */
.topics-link div a .ai {
    color: #c964d9;
}

.topics-link div a .crypto {
    color: #52dea4;
}

.topics-link div a .digital {
    color: #8564e8;
}

.topics-link div a .news {
    color: #5d6af5;
}

.topics-link div a .rocket {
    color: #e66acf;
}

.topics-link div a .tech {
    color: #56afe3;
}

.topics-link div a .trends {
    color: #f2862e;
}

/* Blog container */
.blog-container {
    display: flex;
    gap: 6%;
    margin-top: 80px;
}

/* Card container */
.blog-container .card-container {
    width: 66%;
    display: grid;
    grid-template-columns: 1fr 1fr;
    gap: 30px;
}

.card {
    width: 99%;
}

/* Card image */
.card .card-img {
    width: 420px;
    height: 250px;
    overflow: hidden;
    border-radius: 20px;
    position: relative;
}

.card .card-img a img {
    width: 100%;
    height: 100%;
    object-fit: cover;
    transition: transform 0.5s ease;
}

.card .card-img:hover img {
    transform: scale(1.1);
}

/* Card image top left related buttons */
.card .card-img .related {
    position: absolute;
    top: 20px;
    left: 20px;
}

.card .card-img .related a {
    color: var(--background-color);
    background-color: #ffffff97;
    font-size: .75rem;
    font-weight: 500;
    padding: 3px 6px;
    border-radius: 20px;
    transition: all ease .4s;
}

.card .card-img .related a:hover {
    background-color: #00000092;
    color: var(--primary-color);
}

/* Card image bottom right timer button */
.card .card-img .time {
    position: absolute;
    bottom: 15px;
    right: 15px;
}

.card .card-img .time span {
    font-size: .7rem;
    color: var(--primary-color);
    background-color: #2b2b2bb4;
    font-weight: 600;
    padding: 3px 6px 4px 3px;
    border-radius: 20px;
}

.card h2 {
    margin: 20px 0;
}

.card h2 a {
    color: var(--primary-color);
}

.card span {
    font-size: .9rem;
}

.card p {
    margin: 15px 0 50px;
}

/* Pagination Link */
.pagination-container {
    display: flex;
    gap: 5px;
    justify-content: center;
    width: 200%;
}

.active {
    background-color: var(--special-color);
}

.pagination-container a {
    color: var(--secondary-color);
    width: 40px;
    height: 40px;
    display: flex;
    align-items: center;
    justify-content: center;
    border-radius: 100%;
    font-size: .9rem;
    font-weight: 500;
    transition: all ease .4s;
}

.pagination-container a:hover {
    background-color: var(--special-color);
}

/* Aside bar */
.blog-container .aside-bar {
    width: 28%;
}

.profile {
    background-color: var(--special-color2);
    border-radius: 20px;
    padding: 30px;
}

.aside-header {
    font-size: .79rem;
    text-transform: uppercase;
    font-weight: 500;
}

.profile .img-profile {
    display: flex;
    align-items: center;
    gap: 15px;
    margin: 15px 0 10px;
}

.profile .img-profile .img img {
    width: 50px;
    border-radius: 50px;
}

.profile .img-profile .names h4 {
    font-size: 1.05rem;
    font-weight: 500;
    color: var(--primary-color);
    line-height: .8rem;
}

.profile .img-profile .names h5 {
    font-size: .75rem;
    text-transform: uppercase;
    font-weight: 500;
}

.profile p {
    font-size: .8rem;
}

.profile .p-icons {
    display: flex;
    gap: 10px;
    margin-top: 15px;
}

.profile .p-icons a i {
    color: var(--secondary-color);
    transition: all ease .4s;
}

.profile .p-icons a i:hover {
    color: var(--primary-color);
}

/* Featured post in aside bar*/
.featured-post {
    margin: 20px 0;
}

.featured-post span {
    font-weight: 500;
    color: var(--primary-color);
}

.featured-post .f-img {
    position: relative;
}

.featured-post .f-img img {
    border-radius: 20px;
    margin-top: 20px;
    height: 400px;
    object-fit: cover;
}

.featured-post .f-img .f-content {
    width: 80%;
    position: absolute;
    bottom: 50px;
    left: 50%;
    transform: translateX(-50%);
    color: var(--primary-color);
}

.featured-post .f-img .f-content h2 {
    font-size: 1.3rem;
    line-height: 1.6rem;
    margin-bottom: 10px;
    font-weight: 600;
}

.featured-post .f-img .f-content h2 a {
    font-size: 1.3rem;
    color: var(--primary-color);
}

.featured-post .f-img .f-content span a {
    color: var(--primary-color);
    transition: all ease .4s;
}

.featured-post .f-img .f-content span a:hover {
    color: var(--special-color);
}

/* Three dots in aside bar */
.dot-container {
    margin-top: -10px;
    margin-bottom: 20px;
    text-align: center;
    display: flex;
    gap: 10px;
    justify-content: center;
}

.dot-container a {
    color: var(--secondary-color);
    transition: all ease .4s;
}

.dot-container a:hover {
    color: var(--primary-color);
}

.dot-container a i {
    font-size: .8rem;
}

/* Categories in aside bar */
.categories {
    background-color: var(--special-color2);
    padding: 25px 30px;
    border-radius: 20px;
    padding-bottom: 35px;
}

.categories .ctg-links {
    display: flex;
    flex-direction: column;
    gap: 15px;
    margin-top: 15px;
}

.categories .ctg-links a {
    color: var(--secondary-color);
    font-size: .82rem;
}

.categories .ctg-links a::before {
    content: '→';
    margin-left: -10px;
    opacity: 0;
    transition: all ease .4s;
}

.categories .ctg-links a:hover::before {
    margin-left: 8px;
    margin-right: 10px;
    opacity: 1;
    color: var(--primary-color);
}

/* Related articles in aside bar */
.related-article {
    background-color: var(--special-color2);
    margin-top: 25px;
    border-radius: 20px;
    padding: 30px;
}

.articles {
    display: flex;
    gap: 15px;
    margin-top: 20px;
}

.articles .art-img {
    width: 60px;
    margin-top: 4px;
}

.articles .art-img img {
    aspect-ratio: 2/2;
    object-fit: cover;
    border-radius: 10px;
}

.articles .art-content a {
    color: var(--primary-color);
    font-weight: 600;
    font-size: .9rem;
}

.articles .art-content p {
    margin-top: 5px;
    font-size: .85rem;
    font-weight: 500;
}

/* Popular tag in aside bar */
.popular-tag {
    background-color: var(--special-color2);
    margin-top: 25px;
    border-radius: 20px;
    padding: 30px;
}

.tags-link {
    display: flex;
    flex-wrap: wrap;
    gap: 10px;
    margin-top: 15px;
}

.tags-link a {
    color: var(--secondary-color);
    background-color: #2c2c2c;
    font-size: .72rem;
    padding: 5px 10px;
    text-transform: uppercase;
    font-weight: 600;
    border-radius: 20px;
    transition: all ease .4s;
}

.tags-link a:hover {
    color: var(--primary-color);
}

/* End main section */





/* Start footer section */
footer {
    background-color: #292929;
}

/* Making padding in footer */
footer .padding {
    padding: 60px 0;
}

/* Top or first section in footer */
.top-container {
    display: flex;
    justify-content: space-between;
    align-items: center;
}

.subscribe-content h2 {
    font-size: 1.55rem;
    font-weight: 500;
    color: var(--primary-color);
}

.subscribe-content p {
    font-size: 1.05rem;
    margin-top: 10px;
}

.search-email {
    display: flex;
    align-items: center;
    position: relative;
}

.search-email .input input {
    background-color: #2c2c2c;
    color: var(--secondary-color);
    border: none;
    border-radius: 50px;
    padding: 20px 200px 20px 20px;
    font-size: .9rem;
    font-weight: 600;
    transition: all ease .4s;
}

.search-email .input input:focus {
    outline: 0;
    background-color: #1f1f1f;
}

.search-email .input-btn a {
    color: var(--primary-color);
    background-color: var(--special-color);
    padding: 10px 20px;
    border-radius: 50px;
    font-size: .8rem;
    font-weight: 600;
    position: absolute;
    right: 10px;
    top: 50%;
    transform: translateY(-50%);
    transition: all ease .4s;
}

.search-email .input-btn a:hover {
    background-color: #e6473cc0;
}

/* Horizontal bar in footer */
.footer-horizontal {
    width: 100%;
    height: 1px;
    background-color: #3f3f3f;
}

/* Middle or second section in footer */
.middle-container {
    display: flex;
    color: #F2F2F2;
}

/* Middle container left part */
.middle-container .left {
    width: 50%;
}

.left .footer-logo {
    width: 150px;
}

.left p {
    font-size: .8rem;
    width: 62%;
    line-height: 1.4rem;
    margin: 30px 0;
}

/* Middle container left part social links*/
.f-social-link {
    display: flex;
    gap: 30px;
}

.f-social-link a {
    color: var(--secondary-color);
    font-size: 1.4rem;
    transition: all ease .4s;
}

.f-social-link a:hover {
    transform: scale(1.4);
}

/* Middle container right part */
.middle-container .right {
    width: 50%;
    display: flex;
    gap: 150px;
}

.right span {
    font-size: .78rem;
    font-weight: 500;
    text-transform: uppercase;
}

/* Middle container right part categories links */
.categories-links {
    display: flex;
    gap: 15px;
    flex-direction: column;
    margin-top: 20px;
}

.right a {
    color: var(--secondary-color);
    transition: all ease .4s;
}

.right a:hover {
    color: var(--primary-color);
}

.find-us-content {
    margin-top: 20px;
    display: flex;
    flex-direction: column;
    gap: 15px;
}

.find-us-content p {
    width: 65%;
}

/* Bottom or third section in footer */
.bottom-container {
    display: flex;
    padding: 30px 0;
}

.bottom-container div {
    color: var(--primary-color);
    font-size: .85rem;
    font-weight: 500;
}

/* End footer section */